{
  "swagger": "2.0",
  "info": {
    "title": "Graph Connector",
    "description": "",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/me": {},
    "/v1.0/groups": {},
    "/v1.0/users/{useremail}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "deletedDateTime": {
                        "type": "string",
                        "description": "deletedDateTime"
                      },
                      "appId": {
                        "type": "string",
                        "description": "appId"
                      },
                      "applicationTemplateId": {
                        "type": "string",
                        "description": "applicationTemplateId"
                      },
                      "disabledByMicrosoftStatus": {
                        "type": "string",
                        "description": "disabledByMicrosoftStatus"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "displayName"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "groupMembershipClaims": {
                        "type": "string",
                        "description": "groupMembershipClaims"
                      },
                      "identifierUris": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "identifierUris"
                      },
                      "isDeviceOnlyAuthSupported": {
                        "type": "string",
                        "description": "isDeviceOnlyAuthSupported"
                      },
                      "isFallbackPublicClient": {
                        "type": "boolean",
                        "description": "isFallbackPublicClient"
                      },
                      "notes": {
                        "type": "string",
                        "description": "notes"
                      },
                      "publisherDomain": {
                        "type": "string",
                        "description": "publisherDomain"
                      },
                      "serviceManagementReference": {
                        "type": "string",
                        "description": "serviceManagementReference"
                      },
                      "signInAudience": {
                        "type": "string",
                        "description": "signInAudience"
                      },
                      "tags": {
                        "type": "array",
                        "items": {},
                        "description": "tags"
                      },
                      "tokenEncryptionKeyId": {
                        "type": "string",
                        "description": "tokenEncryptionKeyId"
                      },
                      "samlMetadataUrl": {
                        "type": "string",
                        "description": "samlMetadataUrl"
                      },
                      "defaultRedirectUri": {
                        "type": "string",
                        "description": "defaultRedirectUri"
                      },
                      "certification": {
                        "type": "string",
                        "description": "certification"
                      },
                      "optionalClaims": {
                        "type": "string",
                        "description": "optionalClaims"
                      },
                      "servicePrincipalLockConfiguration": {
                        "type": "string",
                        "description": "servicePrincipalLockConfiguration"
                      },
                      "requestSignatureVerification": {
                        "type": "string",
                        "description": "requestSignatureVerification"
                      },
                      "addIns": {
                        "type": "array",
                        "items": {},
                        "description": "addIns"
                      },
                      "api": {
                        "type": "object",
                        "properties": {
                          "acceptMappedClaims": {
                            "type": "string",
                            "description": "acceptMappedClaims"
                          },
                          "knownClientApplications": {
                            "type": "array",
                            "items": {},
                            "description": "knownClientApplications"
                          },
                          "requestedAccessTokenVersion": {
                            "type": "string",
                            "description": "requestedAccessTokenVersion"
                          },
                          "oauth2PermissionScopes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "adminConsentDescription": {
                                  "type": "string",
                                  "description": "adminConsentDescription"
                                },
                                "adminConsentDisplayName": {
                                  "type": "string",
                                  "description": "adminConsentDisplayName"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "id"
                                },
                                "isEnabled": {
                                  "type": "boolean",
                                  "description": "isEnabled"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "userConsentDescription": {
                                  "type": "string",
                                  "description": "userConsentDescription"
                                },
                                "userConsentDisplayName": {
                                  "type": "string",
                                  "description": "userConsentDisplayName"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "value"
                                }
                              }
                            },
                            "description": "oauth2PermissionScopes"
                          },
                          "preAuthorizedApplications": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "appId": {
                                  "type": "string",
                                  "description": "appId"
                                },
                                "delegatedPermissionIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "delegatedPermissionIds"
                                }
                              }
                            },
                            "description": "preAuthorizedApplications"
                          }
                        },
                        "description": "api"
                      },
                      "appRoles": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "allowedMemberTypes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "allowedMemberTypes"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            },
                            "displayName": {
                              "type": "string",
                              "description": "displayName"
                            },
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "isEnabled": {
                              "type": "boolean",
                              "description": "isEnabled"
                            },
                            "origin": {
                              "type": "string",
                              "description": "origin"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "appRoles"
                      },
                      "info": {
                        "type": "object",
                        "properties": {
                          "logoUrl": {
                            "type": "string",
                            "description": "logoUrl"
                          },
                          "marketingUrl": {
                            "type": "string",
                            "description": "marketingUrl"
                          },
                          "privacyStatementUrl": {
                            "type": "string",
                            "description": "privacyStatementUrl"
                          },
                          "supportUrl": {
                            "type": "string",
                            "description": "supportUrl"
                          },
                          "termsOfServiceUrl": {
                            "type": "string",
                            "description": "termsOfServiceUrl"
                          }
                        },
                        "description": "info"
                      },
                      "keyCredentials": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "customKeyIdentifier": {
                              "type": "string",
                              "description": "customKeyIdentifier"
                            },
                            "displayName": {
                              "type": "string",
                              "description": "displayName"
                            },
                            "endDateTime": {
                              "type": "string",
                              "description": "endDateTime"
                            },
                            "key": {
                              "type": "string",
                              "description": "key"
                            },
                            "keyId": {
                              "type": "string",
                              "description": "keyId"
                            },
                            "startDateTime": {
                              "type": "string",
                              "description": "startDateTime"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "usage": {
                              "type": "string",
                              "description": "usage"
                            }
                          }
                        },
                        "description": "keyCredentials"
                      },
                      "parentalControlSettings": {
                        "type": "object",
                        "properties": {
                          "countriesBlockedForMinors": {
                            "type": "array",
                            "items": {},
                            "description": "countriesBlockedForMinors"
                          },
                          "legalAgeGroupRule": {
                            "type": "string",
                            "description": "legalAgeGroupRule"
                          }
                        },
                        "description": "parentalControlSettings"
                      },
                      "passwordCredentials": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "customKeyIdentifier": {
                              "type": "string",
                              "description": "customKeyIdentifier"
                            },
                            "displayName": {
                              "type": "string",
                              "description": "displayName"
                            },
                            "endDateTime": {
                              "type": "string",
                              "description": "endDateTime"
                            },
                            "hint": {
                              "type": "string",
                              "description": "hint"
                            },
                            "keyId": {
                              "type": "string",
                              "description": "keyId"
                            },
                            "secretText": {
                              "type": "string",
                              "description": "secretText"
                            },
                            "startDateTime": {
                              "type": "string",
                              "description": "startDateTime"
                            }
                          }
                        },
                        "description": "passwordCredentials"
                      },
                      "publicClient": {
                        "type": "object",
                        "properties": {
                          "redirectUris": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "redirectUris"
                          }
                        },
                        "description": "publicClient"
                      },
                      "requiredResourceAccess": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "resourceAppId": {
                              "type": "string",
                              "description": "resourceAppId"
                            },
                            "resourceAccess": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "type"
                                  }
                                }
                              },
                              "description": "resourceAccess"
                            }
                          }
                        },
                        "description": "requiredResourceAccess"
                      },
                      "verifiedPublisher": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string",
                            "description": "displayName"
                          },
                          "verifiedPublisherId": {
                            "type": "string",
                            "description": "verifiedPublisherId"
                          },
                          "addedDateTime": {
                            "type": "string",
                            "description": "addedDateTime"
                          }
                        },
                        "description": "verifiedPublisher"
                      },
                      "web": {
                        "type": "object",
                        "properties": {
                          "homePageUrl": {
                            "type": "string",
                            "description": "homePageUrl"
                          },
                          "logoutUrl": {
                            "type": "string",
                            "description": "logoutUrl"
                          },
                          "redirectUris": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "redirectUris"
                          },
                          "implicitGrantSettings": {
                            "type": "object",
                            "properties": {
                              "enableAccessTokenIssuance": {
                                "type": "boolean",
                                "description": "enableAccessTokenIssuance"
                              },
                              "enableIdTokenIssuance": {
                                "type": "boolean",
                                "description": "enableIdTokenIssuance"
                              }
                            },
                            "description": "implicitGrantSettings"
                          },
                          "redirectUriSettings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "uri": {
                                  "type": "string",
                                  "description": "uri"
                                },
                                "index": {
                                  "type": "string",
                                  "description": "index"
                                }
                              }
                            },
                            "description": "redirectUriSettings"
                          }
                        },
                        "description": "web"
                      },
                      "spa": {
                        "type": "object",
                        "properties": {
                          "redirectUris": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "redirectUris"
                          }
                        },
                        "description": "spa"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get User",
        "description": "Get User",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "useremail",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/beta/users/{objectid}/presence": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "availability": {
                  "type": "string",
                  "description": "availability"
                },
                "activity": {
                  "type": "string",
                  "description": "activity"
                },
                "outOfOfficeSettings": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "isOutOfOffice": {
                      "type": "boolean",
                      "description": "isOutOfOffice"
                    }
                  },
                  "description": "outOfOfficeSettings"
                }
              }
            }
          }
        },
        "summary": "Get User Presence",
        "description": "Get User Presence",
        "operationId": "GetUserPresence",
        "parameters": [
          {
            "name": "objectid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/beta/chats": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "topic": {
                  "type": "string",
                  "description": "topic"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "createdDateTime"
                },
                "lastUpdatedDateTime": {
                  "type": "string",
                  "description": "lastUpdatedDateTime"
                },
                "chatType": {
                  "type": "string",
                  "description": "chatType"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Start Chat",
        "description": "Start Chat",
        "operationId": "StartChat",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "chatType": {
                  "type": "string",
                  "description": "chatType"
                },
                "members": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@odata.type": {
                        "type": "string",
                        "description": "@odata.type"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "roles"
                      },
                      "user@odata.bind": {
                        "type": "string",
                        "description": "user@odata.bind"
                      }
                    }
                  },
                  "description": "members"
                }
              }
            }
          }
        ]
      }
    },
    "/beta/chats/{chatid}/messages": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "replyToId": {
                  "type": "string",
                  "description": "replyToId"
                },
                "etag": {
                  "type": "string",
                  "description": "etag"
                },
                "messageType": {
                  "type": "string",
                  "description": "messageType"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "createdDateTime"
                },
                "lastModifiedDateTime": {
                  "type": "string",
                  "description": "lastModifiedDateTime"
                },
                "lastEditedDateTime": {
                  "type": "string",
                  "description": "lastEditedDateTime"
                },
                "deletedDateTime": {
                  "type": "string",
                  "description": "deletedDateTime"
                },
                "subject": {
                  "type": "string",
                  "description": "subject"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "chatId": {
                  "type": "string",
                  "description": "chatId"
                },
                "importance": {
                  "type": "string",
                  "description": "importance"
                },
                "locale": {
                  "type": "string",
                  "description": "locale"
                },
                "webUrl": {
                  "type": "string",
                  "description": "webUrl"
                },
                "channelIdentity": {
                  "type": "string",
                  "description": "channelIdentity"
                },
                "policyViolation": {
                  "type": "string",
                  "description": "policyViolation"
                },
                "from": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "type": "string",
                      "description": "application"
                    },
                    "device": {
                      "type": "string",
                      "description": "device"
                    },
                    "conversation": {
                      "type": "string",
                      "description": "conversation"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "displayName": {
                          "type": "string",
                          "description": "displayName"
                        },
                        "userIdentityType": {
                          "type": "string",
                          "description": "userIdentityType"
                        }
                      },
                      "description": "user"
                    }
                  },
                  "description": "from"
                },
                "body": {
                  "type": "object",
                  "properties": {
                    "contentType": {
                      "type": "string",
                      "description": "contentType"
                    },
                    "content": {
                      "type": "string",
                      "description": "content"
                    }
                  },
                  "description": "body"
                },
                "attachments": {
                  "type": "array",
                  "items": {},
                  "description": "attachments"
                },
                "mentions": {
                  "type": "array",
                  "items": {},
                  "description": "mentions"
                },
                "reactions": {
                  "type": "array",
                  "items": {},
                  "description": "reactions"
                }
              }
            }
          }
        },
        "summary": "Send Chat Message",
        "description": "Send Chat Message",
        "operationId": "SendChatMsg",
        "parameters": [
          {
            "name": "chatid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "body": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string",
                      "description": "content"
                    }
                  },
                  "description": "body"
                }
              }
            }
          }
        ]
      }
    },
    "/CCM_Proxy_ServerAuth/72057594037927941/AdminService/wmi/SMS_Collection('{CollectionID}')": {},
    "/CCM_Proxy_ServerAuth/72057594037927941/AdminService/wmi/SMS_Collection{CollectionID}": {},
    "/CCM_Proxy_ServerAuth/72057594037927941/AdminService/wmi/SMS_Collection": {},
    "/beta/devicemanagement/managedDevices": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "userId": {
                        "type": "string",
                        "description": "userId"
                      },
                      "deviceName": {
                        "type": "string",
                        "description": "deviceName"
                      },
                      "ownerType": {
                        "type": "string",
                        "description": "ownerType"
                      },
                      "managedDeviceOwnerType": {
                        "type": "string",
                        "description": "managedDeviceOwnerType"
                      },
                      "managementState": {
                        "type": "string",
                        "description": "managementState"
                      },
                      "enrolledDateTime": {
                        "type": "string",
                        "description": "enrolledDateTime"
                      },
                      "lastSyncDateTime": {
                        "type": "string",
                        "description": "lastSyncDateTime"
                      },
                      "chassisType": {
                        "type": "string",
                        "description": "chassisType"
                      },
                      "operatingSystem": {
                        "type": "string",
                        "description": "operatingSystem"
                      },
                      "deviceType": {
                        "type": "string",
                        "description": "deviceType"
                      },
                      "complianceState": {
                        "type": "string",
                        "description": "complianceState"
                      },
                      "jailBroken": {
                        "type": "string",
                        "description": "jailBroken"
                      },
                      "managementAgent": {
                        "type": "string",
                        "description": "managementAgent"
                      },
                      "osVersion": {
                        "type": "string",
                        "description": "osVersion"
                      },
                      "easActivated": {
                        "type": "boolean",
                        "description": "easActivated"
                      },
                      "easDeviceId": {
                        "type": "string",
                        "description": "easDeviceId"
                      },
                      "easActivationDateTime": {
                        "type": "string",
                        "description": "easActivationDateTime"
                      },
                      "aadRegistered": {
                        "type": "string",
                        "description": "aadRegistered"
                      },
                      "azureADRegistered": {
                        "type": "string",
                        "description": "azureADRegistered"
                      },
                      "deviceEnrollmentType": {
                        "type": "string",
                        "description": "deviceEnrollmentType"
                      },
                      "lostModeState": {
                        "type": "string",
                        "description": "lostModeState"
                      },
                      "activationLockBypassCode": {
                        "type": "string",
                        "description": "activationLockBypassCode"
                      },
                      "emailAddress": {
                        "type": "string",
                        "description": "emailAddress"
                      },
                      "azureActiveDirectoryDeviceId": {
                        "type": "string",
                        "description": "azureActiveDirectoryDeviceId"
                      },
                      "azureADDeviceId": {
                        "type": "string",
                        "description": "azureADDeviceId"
                      },
                      "deviceRegistrationState": {
                        "type": "string",
                        "description": "deviceRegistrationState"
                      },
                      "deviceCategoryDisplayName": {
                        "type": "string",
                        "description": "deviceCategoryDisplayName"
                      },
                      "isSupervised": {
                        "type": "boolean",
                        "description": "isSupervised"
                      },
                      "exchangeLastSuccessfulSyncDateTime": {
                        "type": "string",
                        "description": "exchangeLastSuccessfulSyncDateTime"
                      },
                      "exchangeAccessState": {
                        "type": "string",
                        "description": "exchangeAccessState"
                      },
                      "exchangeAccessStateReason": {
                        "type": "string",
                        "description": "exchangeAccessStateReason"
                      },
                      "remoteAssistanceSessionUrl": {
                        "type": "string",
                        "description": "remoteAssistanceSessionUrl"
                      },
                      "remoteAssistanceSessionErrorDetails": {
                        "type": "string",
                        "description": "remoteAssistanceSessionErrorDetails"
                      },
                      "isEncrypted": {
                        "type": "boolean",
                        "description": "isEncrypted"
                      },
                      "userPrincipalName": {
                        "type": "string",
                        "description": "userPrincipalName"
                      },
                      "model": {
                        "type": "string",
                        "description": "model"
                      },
                      "manufacturer": {
                        "type": "string",
                        "description": "manufacturer"
                      },
                      "imei": {
                        "type": "string",
                        "description": "imei"
                      },
                      "complianceGracePeriodExpirationDateTime": {
                        "type": "string",
                        "description": "complianceGracePeriodExpirationDateTime"
                      },
                      "serialNumber": {
                        "type": "string",
                        "description": "serialNumber"
                      },
                      "phoneNumber": {
                        "type": "string",
                        "description": "phoneNumber"
                      },
                      "androidSecurityPatchLevel": {
                        "type": "string",
                        "description": "androidSecurityPatchLevel"
                      },
                      "userDisplayName": {
                        "type": "string",
                        "description": "userDisplayName"
                      },
                      "wiFiMacAddress": {
                        "type": "string",
                        "description": "wiFiMacAddress"
                      },
                      "deviceHealthAttestationState": {
                        "type": "string",
                        "description": "deviceHealthAttestationState"
                      },
                      "subscriberCarrier": {
                        "type": "string",
                        "description": "subscriberCarrier"
                      },
                      "meid": {
                        "type": "string",
                        "description": "meid"
                      },
                      "totalStorageSpaceInBytes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "totalStorageSpaceInBytes"
                      },
                      "freeStorageSpaceInBytes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "freeStorageSpaceInBytes"
                      },
                      "managedDeviceName": {
                        "type": "string",
                        "description": "managedDeviceName"
                      },
                      "partnerReportedThreatState": {
                        "type": "string",
                        "description": "partnerReportedThreatState"
                      },
                      "retireAfterDateTime": {
                        "type": "string",
                        "description": "retireAfterDateTime"
                      },
                      "preferMdmOverGroupPolicyAppliedDateTime": {
                        "type": "string",
                        "description": "preferMdmOverGroupPolicyAppliedDateTime"
                      },
                      "autopilotEnrolled": {
                        "type": "boolean",
                        "description": "autopilotEnrolled"
                      },
                      "requireUserEnrollmentApproval": {
                        "type": "string",
                        "description": "requireUserEnrollmentApproval"
                      },
                      "managementCertificateExpirationDate": {
                        "type": "string",
                        "description": "managementCertificateExpirationDate"
                      },
                      "iccid": {
                        "type": "string",
                        "description": "iccid"
                      },
                      "udid": {
                        "type": "string",
                        "description": "udid"
                      },
                      "roleScopeTagIds": {
                        "type": "array",
                        "items": {},
                        "description": "roleScopeTagIds"
                      },
                      "windowsActiveMalwareCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "windowsActiveMalwareCount"
                      },
                      "windowsRemediatedMalwareCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "windowsRemediatedMalwareCount"
                      },
                      "notes": {
                        "type": "string",
                        "description": "notes"
                      },
                      "configurationManagerClientInformation": {
                        "type": "string",
                        "description": "configurationManagerClientInformation"
                      },
                      "ethernetMacAddress": {
                        "type": "string",
                        "description": "ethernetMacAddress"
                      },
                      "physicalMemoryInBytes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "physicalMemoryInBytes"
                      },
                      "processorArchitecture": {
                        "type": "string",
                        "description": "processorArchitecture"
                      },
                      "specificationVersion": {
                        "type": "string",
                        "description": "specificationVersion"
                      },
                      "joinType": {
                        "type": "string",
                        "description": "joinType"
                      },
                      "skuFamily": {
                        "type": "string",
                        "description": "skuFamily"
                      },
                      "skuNumber": {
                        "type": "integer",
                        "format": "int32",
                        "description": "skuNumber"
                      },
                      "managementFeatures": {
                        "type": "string",
                        "description": "managementFeatures"
                      },
                      "hardwareInformation": {
                        "type": "object",
                        "properties": {
                          "serialNumber": {
                            "type": "string",
                            "description": "serialNumber"
                          },
                          "totalStorageSpace": {
                            "type": "integer",
                            "format": "int32",
                            "description": "totalStorageSpace"
                          },
                          "freeStorageSpace": {
                            "type": "integer",
                            "format": "int32",
                            "description": "freeStorageSpace"
                          },
                          "imei": {
                            "type": "string",
                            "description": "imei"
                          },
                          "meid": {
                            "type": "string",
                            "description": "meid"
                          },
                          "manufacturer": {
                            "type": "string",
                            "description": "manufacturer"
                          },
                          "model": {
                            "type": "string",
                            "description": "model"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "phoneNumber"
                          },
                          "subscriberCarrier": {
                            "type": "string",
                            "description": "subscriberCarrier"
                          },
                          "cellularTechnology": {
                            "type": "string",
                            "description": "cellularTechnology"
                          },
                          "wifiMac": {
                            "type": "string",
                            "description": "wifiMac"
                          },
                          "operatingSystemLanguage": {
                            "type": "string",
                            "description": "operatingSystemLanguage"
                          },
                          "isSupervised": {
                            "type": "boolean",
                            "description": "isSupervised"
                          },
                          "isEncrypted": {
                            "type": "boolean",
                            "description": "isEncrypted"
                          },
                          "batterySerialNumber": {
                            "type": "string",
                            "description": "batterySerialNumber"
                          },
                          "batteryHealthPercentage": {
                            "type": "integer",
                            "format": "int32",
                            "description": "batteryHealthPercentage"
                          },
                          "batteryChargeCycles": {
                            "type": "integer",
                            "format": "int32",
                            "description": "batteryChargeCycles"
                          },
                          "isSharedDevice": {
                            "type": "boolean",
                            "description": "isSharedDevice"
                          },
                          "tpmSpecificationVersion": {
                            "type": "string",
                            "description": "tpmSpecificationVersion"
                          },
                          "operatingSystemEdition": {
                            "type": "string",
                            "description": "operatingSystemEdition"
                          },
                          "deviceFullQualifiedDomainName": {
                            "type": "string",
                            "description": "deviceFullQualifiedDomainName"
                          },
                          "deviceGuardVirtualizationBasedSecurityHardwareRequirementState": {
                            "type": "string",
                            "description": "deviceGuardVirtualizationBasedSecurityHardwareRequirementState"
                          },
                          "deviceGuardVirtualizationBasedSecurityState": {
                            "type": "string",
                            "description": "deviceGuardVirtualizationBasedSecurityState"
                          },
                          "deviceGuardLocalSystemAuthorityCredentialGuardState": {
                            "type": "string",
                            "description": "deviceGuardLocalSystemAuthorityCredentialGuardState"
                          },
                          "osBuildNumber": {
                            "type": "string",
                            "description": "osBuildNumber"
                          },
                          "operatingSystemProductType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "operatingSystemProductType"
                          },
                          "ipAddressV4": {
                            "type": "string",
                            "description": "ipAddressV4"
                          },
                          "subnetAddress": {
                            "type": "string",
                            "description": "subnetAddress"
                          },
                          "sharedDeviceCachedUsers": {
                            "type": "array",
                            "items": {},
                            "description": "sharedDeviceCachedUsers"
                          }
                        },
                        "description": "hardwareInformation"
                      },
                      "deviceActionResults": {
                        "type": "array",
                        "items": {},
                        "description": "deviceActionResults"
                      },
                      "configurationManagerClientEnabledFeatures": {
                        "type": "object",
                        "properties": {
                          "inventory": {
                            "type": "boolean",
                            "description": "inventory"
                          },
                          "modernApps": {
                            "type": "boolean",
                            "description": "modernApps"
                          },
                          "resourceAccess": {
                            "type": "boolean",
                            "description": "resourceAccess"
                          },
                          "deviceConfiguration": {
                            "type": "boolean",
                            "description": "deviceConfiguration"
                          },
                          "compliancePolicy": {
                            "type": "boolean",
                            "description": "compliancePolicy"
                          },
                          "windowsUpdateForBusiness": {
                            "type": "boolean",
                            "description": "windowsUpdateForBusiness"
                          },
                          "endpointProtection": {
                            "type": "boolean",
                            "description": "endpointProtection"
                          },
                          "officeApps": {
                            "type": "boolean",
                            "description": "officeApps"
                          }
                        },
                        "description": "configurationManagerClientEnabledFeatures"
                      },
                      "usersLoggedOn": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string",
                              "description": "userId"
                            },
                            "lastLogOnDateTime": {
                              "type": "string",
                              "description": "lastLogOnDateTime"
                            }
                          }
                        },
                        "description": "usersLoggedOn"
                      },
                      "configurationManagerClientHealthState": {
                        "type": "object",
                        "properties": {
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "errorCode": {
                            "type": "integer",
                            "format": "int32",
                            "description": "errorCode"
                          },
                          "lastSyncDateTime": {
                            "type": "string",
                            "description": "lastSyncDateTime"
                          }
                        },
                        "description": "configurationManagerClientHealthState"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Managed Devices",
        "description": "List Managed Devices",
        "operationId": "ListManagedDevices",
        "parameters": []
      }
    },
    "/v1.0/devices": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "deletedDateTime": {
                        "type": "string",
                        "description": "deletedDateTime"
                      },
                      "accountEnabled": {
                        "type": "boolean",
                        "description": "accountEnabled"
                      },
                      "approximateLastSignInDateTime": {
                        "type": "string",
                        "description": "approximateLastSignInDateTime"
                      },
                      "complianceExpirationDateTime": {
                        "type": "string",
                        "description": "complianceExpirationDateTime"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                      },
                      "deviceId": {
                        "type": "string",
                        "description": "deviceId"
                      },
                      "deviceMetadata": {
                        "type": "string",
                        "description": "deviceMetadata"
                      },
                      "deviceVersion": {
                        "type": "string",
                        "description": "deviceVersion"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "displayName"
                      },
                      "extensionAttributes": {
                        "type": "object",
                        "properties": {
                          "extensionAttribute1": {
                            "type": "string",
                            "description": "extensionAttribute1"
                          },
                          "extensionAttribute2": {
                            "type": "string",
                            "description": "extensionAttribute2"
                          },
                          "extensionAttribute3": {
                            "type": "string",
                            "description": "extensionAttribute3"
                          },
                          "extensionAttribute4": {
                            "type": "string",
                            "description": "extensionAttribute4"
                          },
                          "extensionAttribute5": {
                            "type": "string",
                            "description": "extensionAttribute5"
                          },
                          "extensionAttribute6": {
                            "type": "string",
                            "description": "extensionAttribute6"
                          },
                          "extensionAttribute7": {
                            "type": "string",
                            "description": "extensionAttribute7"
                          },
                          "extensionAttribute8": {
                            "type": "string",
                            "description": "extensionAttribute8"
                          },
                          "extensionAttribute9": {
                            "type": "string",
                            "description": "extensionAttribute9"
                          },
                          "extensionAttribute10": {
                            "type": "string",
                            "description": "extensionAttribute10"
                          },
                          "extensionAttribute11": {
                            "type": "string",
                            "description": "extensionAttribute11"
                          },
                          "extensionAttribute12": {
                            "type": "string",
                            "description": "extensionAttribute12"
                          },
                          "extensionAttribute13": {
                            "type": "string",
                            "description": "extensionAttribute13"
                          },
                          "extensionAttribute14": {
                            "type": "string",
                            "description": "extensionAttribute14"
                          },
                          "extensionAttribute15": {
                            "type": "string",
                            "description": "extensionAttribute15"
                          }
                        },
                        "description": "extensionAttributes"
                      },
                      "externalSourceName": {
                        "type": "string",
                        "description": "externalSourceName"
                      },
                      "isCompliant": {
                        "type": "string",
                        "description": "isCompliant"
                      },
                      "isManaged": {
                        "type": "string",
                        "description": "isManaged"
                      },
                      "manufacturer": {
                        "type": "string",
                        "description": "manufacturer"
                      },
                      "mdmAppId": {
                        "type": "string",
                        "description": "mdmAppId"
                      },
                      "model": {
                        "type": "string",
                        "description": "model"
                      },
                      "onPremisesLastSyncDateTime": {
                        "type": "string",
                        "description": "onPremisesLastSyncDateTime"
                      },
                      "onPremisesSyncEnabled": {
                        "type": "boolean",
                        "description": "onPremisesSyncEnabled"
                      },
                      "operatingSystem": {
                        "type": "string",
                        "description": "operatingSystem"
                      },
                      "operatingSystemVersion": {
                        "type": "string",
                        "description": "operatingSystemVersion"
                      },
                      "physicalIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "physicalIds"
                      },
                      "profileType": {
                        "type": "string",
                        "description": "profileType"
                      },
                      "sourceType": {
                        "type": "string",
                        "description": "sourceType"
                      },
                      "systemLabels": {
                        "type": "array",
                        "items": {},
                        "description": "systemLabels"
                      },
                      "trustType": {
                        "type": "string",
                        "description": "trustType"
                      },
                      "alternativeSecurityIds": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "integer",
                              "format": "int32",
                              "description": "type"
                            },
                            "identityProvider": {
                              "type": "string",
                              "description": "identityProvider"
                            },
                            "key": {
                              "type": "string",
                              "description": "key"
                            }
                          }
                        },
                        "description": "alternativeSecurityIds"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List AAD Devices",
        "description": "List AAD Devices",
        "operationId": "ListAADDevices",
        "parameters": []
      }
    },
    "/beta/chats/19:18240509-7437-4fbc-9032-73a744325b0c_988afee5-e438-41d5-8c2a-fcf1c4831f1e@unq.gbl.spaces/messages": {},
    "/beta/me/chats": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "topic": {
                        "type": "string",
                        "description": "topic"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                      },
                      "lastUpdatedDateTime": {
                        "type": "string",
                        "description": "lastUpdatedDateTime"
                      },
                      "chatType": {
                        "type": "string",
                        "description": "chatType"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Chats",
        "description": "List Chats",
        "operationId": "ListChats",
        "parameters": []
      }
    },
    "/beta/me/chats/{id}/messages": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "description": "@odata.nextLink"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "replyToId": {
                        "type": "string",
                        "description": "replyToId"
                      },
                      "etag": {
                        "type": "string",
                        "description": "etag"
                      },
                      "messageType": {
                        "type": "string",
                        "description": "messageType"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                      },
                      "lastModifiedDateTime": {
                        "type": "string",
                        "description": "lastModifiedDateTime"
                      },
                      "lastEditedDateTime": {
                        "type": "string",
                        "description": "lastEditedDateTime"
                      },
                      "deletedDateTime": {
                        "type": "string",
                        "description": "deletedDateTime"
                      },
                      "subject": {
                        "type": "string",
                        "description": "subject"
                      },
                      "summary": {
                        "type": "string",
                        "description": "summary"
                      },
                      "chatId": {
                        "type": "string",
                        "description": "chatId"
                      },
                      "importance": {
                        "type": "string",
                        "description": "importance"
                      },
                      "locale": {
                        "type": "string",
                        "description": "locale"
                      },
                      "webUrl": {
                        "type": "string",
                        "description": "webUrl"
                      },
                      "channelIdentity": {
                        "type": "string",
                        "description": "channelIdentity"
                      },
                      "policyViolation": {
                        "type": "string",
                        "description": "policyViolation"
                      },
                      "from": {
                        "type": "object",
                        "properties": {
                          "application": {
                            "type": "string",
                            "description": "application"
                          },
                          "device": {
                            "type": "string",
                            "description": "device"
                          },
                          "conversation": {
                            "type": "string",
                            "description": "conversation"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "displayName": {
                                "type": "string",
                                "description": "displayName"
                              },
                              "userIdentityType": {
                                "type": "string",
                                "description": "userIdentityType"
                              }
                            },
                            "description": "user"
                          }
                        },
                        "description": "from"
                      },
                      "body": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "contentType"
                          },
                          "content": {
                            "type": "string",
                            "description": "content"
                          }
                        },
                        "description": "body"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {},
                        "description": "attachments"
                      },
                      "mentions": {
                        "type": "array",
                        "items": {},
                        "description": "mentions"
                      },
                      "reactions": {
                        "type": "array",
                        "items": {},
                        "description": "reactions"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Chat Messages",
        "description": "Get Chat Messages",
        "operationId": "GetChatMessages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/beta/bitlocker/recoveryKeys": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                      },
                      "volumeType": {
                        "type": "string",
                        "description": "volumeType"
                      },
                      "deviceId": {
                        "type": "string",
                        "description": "deviceId"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Bitlocker Recovery Keys",
        "description": "List Bitlocker Recovery Keys",
        "operationId": "ListBitlockerRecoveryKey",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ocp-client-name",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "ocp-client-version",
            "in": "header",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/beta/bitlocker/recoveryKeys/{recoverykeyid}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "createdDateTime"
                },
                "volumeType": {
                  "type": "string",
                  "description": "volumeType"
                },
                "deviceId": {
                  "type": "string",
                  "description": "deviceId"
                },
                "key": {
                  "type": "string",
                  "description": "key"
                }
              }
            }
          }
        },
        "summary": "Get Bitlocker Recovery",
        "description": "Get Bitlocker Recovery",
        "operationId": "GetBitlockerRecoveryKey",
        "parameters": [
          {
            "name": "recoverykeyid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ocp-client-name",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "ocp-client-version",
            "in": "header",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v1.0/deviceManagement/deviceCategories": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.type": {
                  "type": "string",
                  "description": "@odata.type"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "displayName": {
                  "type": "string",
                  "description": "displayName"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                }
              }
            }
          }
        },
        "summary": "Create Device Category",
        "description": "Create Device Category",
        "operationId": "CreateDeviceCategory",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "@odata.type": {
                  "type": "string",
                  "description": "@odata.type"
                },
                "displayName": {
                  "type": "string",
                  "description": "displayName"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                }
              }
            }
          }
        ]
      }
    },
    "/beta/deviceManagement/deviceCategories": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "displayName"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "roleScopeTagIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "roleScopeTagIds"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Device Categories",
        "description": "List Device Categories",
        "operationId": "ListDeviceCategories",
        "parameters": []
      }
    },
    "/beta/deviceManagement/managedDevices('{deviceid}')/deviceCategory/$ref": {
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Set Device Category",
        "description": "Set Device Category",
        "operationId": "SetDeviceCategory",
        "parameters": [
          {
            "name": "deviceid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "@odata.id": {
                  "type": "string",
                  "description": "@odata.id"
                }
              }
            }
          }
        ]
      }
    },
    "/beta/devicemanagement/managedDevices/{deviceid}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "userId": {
                  "type": "string",
                  "description": "userId"
                },
                "deviceName": {
                  "type": "string",
                  "description": "deviceName"
                },
                "ownerType": {
                  "type": "string",
                  "description": "ownerType"
                },
                "managedDeviceOwnerType": {
                  "type": "string",
                  "description": "managedDeviceOwnerType"
                },
                "managementState": {
                  "type": "string",
                  "description": "managementState"
                },
                "enrolledDateTime": {
                  "type": "string",
                  "description": "enrolledDateTime"
                },
                "lastSyncDateTime": {
                  "type": "string",
                  "description": "lastSyncDateTime"
                },
                "chassisType": {
                  "type": "string",
                  "description": "chassisType"
                },
                "operatingSystem": {
                  "type": "string",
                  "description": "operatingSystem"
                },
                "deviceType": {
                  "type": "string",
                  "description": "deviceType"
                },
                "complianceState": {
                  "type": "string",
                  "description": "complianceState"
                },
                "jailBroken": {
                  "type": "string",
                  "description": "jailBroken"
                },
                "managementAgent": {
                  "type": "string",
                  "description": "managementAgent"
                },
                "osVersion": {
                  "type": "string",
                  "description": "osVersion"
                },
                "easActivated": {
                  "type": "boolean",
                  "description": "easActivated"
                },
                "easDeviceId": {
                  "type": "string",
                  "description": "easDeviceId"
                },
                "easActivationDateTime": {
                  "type": "string",
                  "description": "easActivationDateTime"
                },
                "aadRegistered": {
                  "type": "string",
                  "description": "aadRegistered"
                },
                "azureADRegistered": {
                  "type": "string",
                  "description": "azureADRegistered"
                },
                "deviceEnrollmentType": {
                  "type": "string",
                  "description": "deviceEnrollmentType"
                },
                "lostModeState": {
                  "type": "string",
                  "description": "lostModeState"
                },
                "activationLockBypassCode": {
                  "type": "string",
                  "description": "activationLockBypassCode"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                },
                "azureActiveDirectoryDeviceId": {
                  "type": "string",
                  "description": "azureActiveDirectoryDeviceId"
                },
                "azureADDeviceId": {
                  "type": "string",
                  "description": "azureADDeviceId"
                },
                "deviceRegistrationState": {
                  "type": "string",
                  "description": "deviceRegistrationState"
                },
                "deviceCategoryDisplayName": {
                  "type": "string",
                  "description": "deviceCategoryDisplayName"
                },
                "isSupervised": {
                  "type": "boolean",
                  "description": "isSupervised"
                },
                "exchangeLastSuccessfulSyncDateTime": {
                  "type": "string",
                  "description": "exchangeLastSuccessfulSyncDateTime"
                },
                "exchangeAccessState": {
                  "type": "string",
                  "description": "exchangeAccessState"
                },
                "exchangeAccessStateReason": {
                  "type": "string",
                  "description": "exchangeAccessStateReason"
                },
                "remoteAssistanceSessionUrl": {
                  "type": "string",
                  "description": "remoteAssistanceSessionUrl"
                },
                "remoteAssistanceSessionErrorDetails": {
                  "type": "string",
                  "description": "remoteAssistanceSessionErrorDetails"
                },
                "isEncrypted": {
                  "type": "boolean",
                  "description": "isEncrypted"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "userPrincipalName"
                },
                "model": {
                  "type": "string",
                  "description": "model"
                },
                "manufacturer": {
                  "type": "string",
                  "description": "manufacturer"
                },
                "imei": {
                  "type": "string",
                  "description": "imei"
                },
                "complianceGracePeriodExpirationDateTime": {
                  "type": "string",
                  "description": "complianceGracePeriodExpirationDateTime"
                },
                "serialNumber": {
                  "type": "string",
                  "description": "serialNumber"
                },
                "phoneNumber": {
                  "type": "string",
                  "description": "phoneNumber"
                },
                "androidSecurityPatchLevel": {
                  "type": "string",
                  "description": "androidSecurityPatchLevel"
                },
                "userDisplayName": {
                  "type": "string",
                  "description": "userDisplayName"
                },
                "wiFiMacAddress": {
                  "type": "string",
                  "description": "wiFiMacAddress"
                },
                "deviceHealthAttestationState": {
                  "type": "string",
                  "description": "deviceHealthAttestationState"
                },
                "subscriberCarrier": {
                  "type": "string",
                  "description": "subscriberCarrier"
                },
                "meid": {
                  "type": "string",
                  "description": "meid"
                },
                "totalStorageSpaceInBytes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalStorageSpaceInBytes"
                },
                "freeStorageSpaceInBytes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "freeStorageSpaceInBytes"
                },
                "managedDeviceName": {
                  "type": "string",
                  "description": "managedDeviceName"
                },
                "partnerReportedThreatState": {
                  "type": "string",
                  "description": "partnerReportedThreatState"
                },
                "retireAfterDateTime": {
                  "type": "string",
                  "description": "retireAfterDateTime"
                },
                "preferMdmOverGroupPolicyAppliedDateTime": {
                  "type": "string",
                  "description": "preferMdmOverGroupPolicyAppliedDateTime"
                },
                "autopilotEnrolled": {
                  "type": "boolean",
                  "description": "autopilotEnrolled"
                },
                "requireUserEnrollmentApproval": {
                  "type": "string",
                  "description": "requireUserEnrollmentApproval"
                },
                "managementCertificateExpirationDate": {
                  "type": "string",
                  "description": "managementCertificateExpirationDate"
                },
                "iccid": {
                  "type": "string",
                  "description": "iccid"
                },
                "udid": {
                  "type": "string",
                  "description": "udid"
                },
                "roleScopeTagIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "roleScopeTagIds"
                },
                "windowsActiveMalwareCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "windowsActiveMalwareCount"
                },
                "windowsRemediatedMalwareCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "windowsRemediatedMalwareCount"
                },
                "notes": {
                  "type": "string",
                  "description": "notes"
                },
                "ethernetMacAddress": {
                  "type": "string",
                  "description": "ethernetMacAddress"
                },
                "physicalMemoryInBytes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "physicalMemoryInBytes"
                },
                "processorArchitecture": {
                  "type": "string",
                  "description": "processorArchitecture"
                },
                "specificationVersion": {
                  "type": "string",
                  "description": "specificationVersion"
                },
                "joinType": {
                  "type": "string",
                  "description": "joinType"
                },
                "skuFamily": {
                  "type": "string",
                  "description": "skuFamily"
                },
                "skuNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "skuNumber"
                },
                "managementFeatures": {
                  "type": "string",
                  "description": "managementFeatures"
                },
                "hardwareInformation": {
                  "type": "object",
                  "properties": {
                    "serialNumber": {
                      "type": "string",
                      "description": "serialNumber"
                    },
                    "totalStorageSpace": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalStorageSpace"
                    },
                    "freeStorageSpace": {
                      "type": "integer",
                      "format": "int32",
                      "description": "freeStorageSpace"
                    },
                    "imei": {
                      "type": "string",
                      "description": "imei"
                    },
                    "meid": {
                      "type": "string",
                      "description": "meid"
                    },
                    "manufacturer": {
                      "type": "string",
                      "description": "manufacturer"
                    },
                    "model": {
                      "type": "string",
                      "description": "model"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "phoneNumber"
                    },
                    "subscriberCarrier": {
                      "type": "string",
                      "description": "subscriberCarrier"
                    },
                    "cellularTechnology": {
                      "type": "string",
                      "description": "cellularTechnology"
                    },
                    "wifiMac": {
                      "type": "string",
                      "description": "wifiMac"
                    },
                    "operatingSystemLanguage": {
                      "type": "string",
                      "description": "operatingSystemLanguage"
                    },
                    "isSupervised": {
                      "type": "boolean",
                      "description": "isSupervised"
                    },
                    "isEncrypted": {
                      "type": "boolean",
                      "description": "isEncrypted"
                    },
                    "batterySerialNumber": {
                      "type": "string",
                      "description": "batterySerialNumber"
                    },
                    "batteryHealthPercentage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "batteryHealthPercentage"
                    },
                    "batteryChargeCycles": {
                      "type": "integer",
                      "format": "int32",
                      "description": "batteryChargeCycles"
                    },
                    "isSharedDevice": {
                      "type": "boolean",
                      "description": "isSharedDevice"
                    },
                    "tpmSpecificationVersion": {
                      "type": "string",
                      "description": "tpmSpecificationVersion"
                    },
                    "operatingSystemEdition": {
                      "type": "string",
                      "description": "operatingSystemEdition"
                    },
                    "deviceFullQualifiedDomainName": {
                      "type": "string",
                      "description": "deviceFullQualifiedDomainName"
                    },
                    "deviceGuardVirtualizationBasedSecurityHardwareRequirementState": {
                      "type": "string",
                      "description": "deviceGuardVirtualizationBasedSecurityHardwareRequirementState"
                    },
                    "deviceGuardVirtualizationBasedSecurityState": {
                      "type": "string",
                      "description": "deviceGuardVirtualizationBasedSecurityState"
                    },
                    "deviceGuardLocalSystemAuthorityCredentialGuardState": {
                      "type": "string",
                      "description": "deviceGuardLocalSystemAuthorityCredentialGuardState"
                    },
                    "osBuildNumber": {
                      "type": "string",
                      "description": "osBuildNumber"
                    },
                    "operatingSystemProductType": {
                      "type": "integer",
                      "format": "int32",
                      "description": "operatingSystemProductType"
                    },
                    "ipAddressV4": {
                      "type": "string",
                      "description": "ipAddressV4"
                    },
                    "subnetAddress": {
                      "type": "string",
                      "description": "subnetAddress"
                    },
                    "sharedDeviceCachedUsers": {
                      "type": "array",
                      "items": {},
                      "description": "sharedDeviceCachedUsers"
                    }
                  },
                  "description": "hardwareInformation"
                },
                "deviceActionResults": {
                  "type": "array",
                  "items": {},
                  "description": "deviceActionResults"
                },
                "configurationManagerClientEnabledFeatures": {
                  "type": "object",
                  "properties": {
                    "inventory": {
                      "type": "boolean",
                      "description": "inventory"
                    },
                    "modernApps": {
                      "type": "boolean",
                      "description": "modernApps"
                    },
                    "resourceAccess": {
                      "type": "boolean",
                      "description": "resourceAccess"
                    },
                    "deviceConfiguration": {
                      "type": "boolean",
                      "description": "deviceConfiguration"
                    },
                    "compliancePolicy": {
                      "type": "boolean",
                      "description": "compliancePolicy"
                    },
                    "windowsUpdateForBusiness": {
                      "type": "boolean",
                      "description": "windowsUpdateForBusiness"
                    },
                    "endpointProtection": {
                      "type": "boolean",
                      "description": "endpointProtection"
                    },
                    "officeApps": {
                      "type": "boolean",
                      "description": "officeApps"
                    }
                  },
                  "description": "configurationManagerClientEnabledFeatures"
                },
                "usersLoggedOn": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userId": {
                        "type": "string",
                        "description": "userId"
                      },
                      "lastLogOnDateTime": {
                        "type": "string",
                        "description": "lastLogOnDateTime"
                      }
                    }
                  },
                  "description": "usersLoggedOn"
                },
                "configurationManagerClientHealthState": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "description": "state"
                    },
                    "errorCode": {
[...]
